
<div class="bc-image">
  <div class="container-playlist center">
      <div class="row">
        <div>
        <div>
            <span class="title">Title:</span>
            <span *ngIf = "!edditing"class="track-titles">{{playlist?.title}}</span>
             <input *ngIf = "edditing" type="text" [value] = "playlist?.title" (input) = "onTitleChange(title.value)" #title>
        </div>

        <div class="container-image" [ngStyle]= "{'background-image': 'url('+playlist?.imageUrl+')' , 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
          
                <h6 class="form-inline">Duration:
                    <span >{{playlist?.duration}}</span>
                </h6>
        
                <h6 class="form-inline">User Created it:
                  <span >{{playlist?.username}}</span>
                </h6>
                
                <h6 class="form-inline">Genres:
                <span *ngFor="let genre of playlist?.genres">
                    <span style="padding-left:3px">{{genre}}</span>
                </span>
                </h6>
        </div>
        <div class="form-inline">
            <button class="btn btn-primary" type="button" (click)="editPlaylist()">{{ edditing ? "Done" : "Edit" }}</button>
            <button class="btn btn-primary" type="button" (click)="deletePlaylist()">Delete</button>
        </div>
      </div>
        
        <div class="col-md-6 details">
           <div>
             <div>
                <span class="track-titles">Tracks:</span>
                <span class="track-titles">Name</span> 
                <span class="track-titles">Duration</span> 
                <span class="track-titles">Artist</span> 
                <span class="track-titles">Album</span> 
                <span class="track-titles">Genres</span>
                <span class="track-titles">Rank</span> 
             </div>
            <cdk-virtual-scroll-viewport itemSize="20" class="track-container" >
                <div class="form-inline" *cdkVirtualFor="let track of playlist?.tracks">
                    <button class="btn btn-primary play-button" (click)= "play(track.previewUrl)"><i class="fa fa-play-circle play-icon"></i></button>
                    <span class="indent">{{track?.title}},</span>
                    <span class="indent">{{track?.duration}},</span>
                    <span class="indent">{{track?.artistName}},</span>
                    <span class="indent">{{track?.albumName}},</span>
                    <span class="indent">{{track?.genreName}},</span>
                    <span class="indent">{{track?.rank}}</span>
                </div>
              </cdk-virtual-scroll-viewport>
           </div>
        </div>
      </div>
    </div>
    <player *ngIf="playUrl" [url]="previewUrl" (stop) ="handelStop($event)"></player>
  </div>
