<div class="bc-image"></div>
  <div class="container-user center">
   <cdk-virtual-scroll-viewport class="viewport" itemSize="20">
    <table class="table table-hover margin_top" style="color: white">
      <thead class="text-labels" [class.no-animation] = "!edditing">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Role</th>
            <th>Username</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
      </thead>
      <tbody >
        <tr *cdkVirtualFor="let user of users">
          
            <td *ngIf = "!edditing || user.username !== oldUsername">{{user.firstName}}</td>
            <td *ngIf = "edditing && user.username === oldUsername"> 
              <input type="text" [value] = "user.firstName" (input) = "onFirstNameChange(firstName.value)" #firstName>
            </td>

            <td *ngIf = "!edditing || user.username !== oldUsername">{{user.lastName}}</td>
            <td *ngIf = "edditing && user.username === oldUsername">
               <input type="text" [value] = "user.lastName" (input) = "onLastNameChange(lastName.value)" #lastName>
            </td>

            <td *ngIf = "!edditing || user.username !== oldUsername">{{user.role === "ROLE_ADMIN" ? "Administrator" : "User" }}</td>
            <td *ngIf = "edditing && user.username === oldUsername">
                <select (change)="onUserRoleChange($event.target.value)" #role>
                        <option value="ROLE_USER">User</option>
                        <option value="ROLE_ADMIN">Administrator</option>
                </select>
            </td>

            <td >{{user.username}}</td>
          
            <td *ngIf = "!edditing || user.username !== oldUsername">{{user.email}}</td>
              <td *ngIf = "edditing && user.username === oldUsername">
                <input type="text" [value] = "user.email" (input) = "onEmailChange(email.value)" #email>
            </td>

            <td>
              <button class="btn btn-primary button-size" (click)= "editMode(user)"   *ngIf="!(edditing && user.username !== oldUsername)" >{{edditing || user.username === username? "Done" : "Edit"}}</button>
            </td>
            <td>
                <button class="btn btn-primary button-size " (click)= "delete(user)"  *ngIf="!(edditing && user.username !== oldUsername)" >{{edditing || user.username === username? "Cancel" : "Delete"}}</button>
            </td>
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
   </div>
