<div *ngIf="!hasPlaylists" class="center margin-top">
    <h1 class="message" >Welcome to Playlist Generator!</h1>
    <img class="logo" alt="Playlist Logo" src="../assets/playlist.png">
    <h2 class="message">No Playlists created Yet! You can be the First One!</h2>
    <h2 class="message">Just Register or Login!</h2>
</div>

<div *ngIf="hasPlaylists" class="bc-image">
    <div  class="container-list">
        <button (click)="previous()" type="button" class="arrows left-arrow"
        [disabled]="backwarDdisabled">
          <i class="fa fa-chevron-left"></i></button>
       <ul class="wrapper" style="list-style: none;">
            <li class="box" *ngFor='let playlist of playlists' (mouseover)="playlist.hoverActive=true" (mouseout)="playlist.hoverActive=false">
                <div class="icon" [class.icon-hover]="playlist.hoverActive"
                [ngStyle]= "playlist.hoverActive ? {} : {'background-image': 'url('+playlist.imageUrl+')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
                <i class="fa fa-music"><span class="title">{{playlist.title}}</span></i></div>
                <div class="content"> 
                <h6>Duration: {{playlist.duration}}</h6>
                <button (click)="showPlaylistDetails(playlist)" type="button" class="btn btn-primary btn-xs">Playlist</button>
              </div>
            </li>
          </ul>
          <button (click)="next()" type="button" class="arrows right-arrow" 
          [disabled]="forwardDisabled">
          <i class="fa fa-chevron-right"></i></button>
    </div>
  </div>