<div class="bc-image">
    <div class="container-list">
       <ul class="wrapper" style="list-style: none;">
            <li>
              <button (click)="downloadGenres()" type="button" class="btn btn-primary box"
              [disabled]="genresExist">Download Genres
              </button>
            </li>

            <li>
                <button (click)="syncGenres()" type="button" class="btn btn-primary box" >Sync Genres</button>
           </li>

            <li>
                <button (click)="downloadTracks()" type="button" class="btn btn-primary box"
                [disabled]="tracksExist">Download Tracks
                </button>
           </li>
      </ul>
    </div>
    <div *ngIf="loading" class="loading-animation">
        <div class="loader"></div>
        <div class="loaderbefore"></div>
        <div class="circular"></div>
        <div class="circular another"></div>
</div>
</div>

