/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//close button with label
.close-container{
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 25px;
  margin-right: 10px;
  margin-left: auto;
  cursor: pointer;
}

.leftright{
  height: 4px;
  width: 30px;
  position: absolute;
  background-color: white;;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height: 4px;
  width: 30px;
  position: absolute;
  background-color: white;;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}
.close{
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: white;;
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: white;;
}


//close button
.close-btn {
  font-size: 14px;
  color: #e1a957;
  position: relative;
  width: 31px;
  height: 31px;
  border: none;
  background: transparent;
}

.close-btn-pop-up-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media only screen and (min-width: 1025px){
  .close-btn {
    transition: transform .4s;
}

.close-btn:hover {
    transform: rotate(180deg);
}
}

.close-line1 {
  display: inline-block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 14px;
  left: 0;
  background: white;
  transform: rotate(45deg);
}

.close-line2 {
  display: inline-block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 14px;
  left: 0;
  background: white;
  transform: rotate(-45deg);
}


.margin-top{
    margin-top: 30px;
}

.group{
    display: inline-block;
    
  }

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .right {
    position: absolute;
    right: 0px;
    margin-right: 20px;
  }

  .left-margin{
    margin-left: 15px;
  }
 
  //loading animation
  .loading-animation {
    width: 120px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .loader {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 50px;
    height: 50px;
    border: 15px solid;
    border-radius: 50%;
    border-top-color: rgba(12, 12, 12, 0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(0,0,0,0);
    animation: loadEr 3s infinite;
  }
  
  @keyframes loadEr {
    0% {
      border-top-color: rgba(12, 12, 12, 0);
      border-right-color: rgba(55,55,55,0);
      border-bottom-color: rgba(66,66,66,0);
      border-left-color: rgba(0,0,0,0);
      
    }
    10.4% {
      border-top-color:rgba(12, 12, 12, 0.5);
      border-right-color: rgba(55,55,55,0);
      border-bottom-color: rgba(66,66,66,0);
      border-left-color: rgba(0,0,0,0);
    }
    20.8% {
      border-top-color: rgba(12, 12, 12, 0);
      border-right-color: rgba(55,55,55,0);
      border-bottom-color: rgba(66,66,66,0);
      border-left-color: rgba(0,0,0,0);
    }
  31.2% {
    border-top-color: rgba(12, 12, 12, 0);
      border-right-color: rgba(55,55,55,0.5);
      border-bottom-color: rgba(66,66,66,0);
      border-left-color: rgba(0,0,0,0);
  }
  41.6% {
    border-top-color:rgba(12, 12, 12, 0);
      border-right-color: rgba(55,55,55,0);
      border-bottom-color: rgba(66,66,66,0);
      border-left-color: rgba(0,0,0,0);
    transform: rotate(40deg);
  }
  52% {
    border-top-color: rgba(12, 12, 12, 0);
      border-right-color: rgba(55,55,55,0);
      border-bottom-color: rgba(66,66,66,0.5);
      border-left-color: rgba(0,0,0,0);
  }
  62.4% {
    border-top-color: rgba(12, 12, 12, 0);
      border-right-color: rgba(55,55,55,0);
      border-bottom-color: rgba(66,66,66,0);
      border-left-color: rgba(0,0,0,0);
  }
  72.8% {
       border-top-color: rgba(12, 12, 12, 0);
      border-right-color: rgba(55,55,55,0);
      border-bottom-color: rgba(66,66,66,0);
      border-left-color: rgba(7, 7, 7, 0.8);
  }
  }
  
  .loaderbefore {
    width: 50px;
    height:50px;
    border: 15px solid #ddd;
    border-radius: 50%;
    position: absolute;
    top: 0;
    z-index: 9;
  }
  
  .circular {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 70px;
    height: 70px;
    border: 20px solid;
    border-radius: 50%;
    border-top-color: black;
    border-left-color: rgb(182, 181, 181);
    border-bottom-color: black;
    border-right-color: rgb(206, 205, 205);
    opacity: 0.5;
    animation: poof 5s infinite;
  }
  @keyframes poof {
    0% {transform: scale(1,1) rotate(0deg); opacity: 0.2;}
    50% {transform: scale(4,4) rotate(360deg); opacity: 0;}
  }
  .another {
    opacity: 0.1;
    transform: rotate(90deg);
    animation: poofity 5s infinite;
    animation-delay: 1s;
  }
  @keyframes poofity {
    0% {transform: scale(1,1) rotate(90deg); opacity: 0.1;}
    50% {transform: scale(4,4) rotate(-360deg); opacity: 0;}
  }
  .text {
    position: absolute;
    top: 95px;
    left: 0;
    font-family: Arial;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    animation: opaa 10s infinite;
  }
  
  @keyframes opaa {
    0% {opacity: 1;}
  10% {opacity: 0.5}
  15% {opacity: 1;}
  30% {opacity: 1;}
  65% {opacity: 0.3;}
  90% {opacity: 0.8;}
  }
