
<nav class="navbar navbar-expand-sm bg-dark navbar-dark border-bar" >
  <div class="collapse navbar-collapse">
   <ul class="navbar-nav">
     
    <li class="nav-item">
      <a class="navbar-brand" routerLink="/" >Playlist Generator</a>
    </li>

    <li *ngIf = "!loggedUser" class="nav-item">
      <a class="nav-link" routerLink="/login" >Login</a>
    </li>
    
    <li *ngIf = "loggedUser" class="nav-item">
      <a class="nav-link" routerLink="/" (click)="lagout()">Logout</a>
    </li>

    <li *ngIf = "!loggedUser" class="nav-item">
      <a class="nav-link" routerLink="/registration">Register</a>
    </li>

    <li *ngIf = "loggedUser" class="nav-item">
        <a class="nav-link" routerLink="/user">{{loggedUser.firstName}} {{loggedUser.lastName}}</a>  
    </li>

    <li *ngIf = "loggedUser && loggedUser.role==='ROLE_ADMIN'" class="nav-item">
      <a class="nav-link" routerLink="/users">Users</a>
    </li>

    <li *ngIf = "loggedUser && loggedUser.role==='ROLE_ADMIN'" class="nav-item">
      <a class="nav-link" routerLink="/admin">Admin</a>
    </li>

    <li *ngIf = "loggedUser && loggedUser.role==='ROLE_ADMIN'" class="nav-item">
      <a class="nav-link" routerLink="/registration">Create User</a>
    </li>

    <li *ngIf = "loggedUser" class="nav-item">
      <a class="nav-link" routerLink="/playlist">Create Playlist</a>
    </li>

    <div *ngIf= "hasPlaylists" class="right">      
        <div class="input-group">
            <input id="txtSearch" type="text" class="form-control" placeholder="{{placeholder}}" [(ngModel)]="search" #getInput />
                <div ngbDropdown class="input-group-btn remove-margin">
                    <button class="btn btn-primary" ngbDropdownToggle><span class="fa fa-search"></span></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click) = filterByTitle(getInput.value)>By Title</button>
                      <button ngbDropdownItem (click) = filterByGenre(getInput.value)>By Genre</button>
                      <button ngbDropdownItem (click) = filterByUsername(getInput.value)>By Username</button>
                      <button ngbDropdownItem (click) = filterByDuration(getInput.value)>By Duration(min)</button>
                    </div>
                  </div>
                  <button  class="btn btn-primary left-margin" type="button"  (click) =refresh()>Refresh</button>
          </div>     
    </div>
    
     <div *ngIf="onUsersComponent" class="right">
        <div class="input-group">
              <input id="txtSearch" type="text" class="form-control" placeholder="{{placeholder}}" [(ngModel)]= "search" #getInput />
              <div class="input-group-btn">
                <button class="btn btn-primary" (click)="setSearchValue(getInput.value)">
                  <span class="fa fa-search"></span>
                </button>
              </div>
              <button  class="btn btn-primary left-margin" type="button" (click)=refreshUsersComponent()>Refresh</button>
        </div>
     </div>
  </ul>
 </div> 
</nav>  
<router-outlet></router-outlet>
