<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#" >Playlist Generator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">

      <li *ngIf = "!isLogged" class="nav-item">
        <a class="nav-link" routerLink="/app-login-component" >Login</a>
      </li>
    
    <li *ngIf = "isLogged" class="nav-item">
      <a class="nav-link" routerLink="/" (click)="lagout()">Logout</a>
    </li>

      <li *ngIf = "!isLogged" class="nav-item">
        <a class="nav-link" routerLink="/app-registration-component">Register</a>
      </li>   
    </ul>
  </div> 
</nav>  
<router-outlet></router-outlet>
